<button type="button" (click)="openModal()" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">
  Abrir Modal
</button>

<!-- Modal -->
 @if(isModalOpen){
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center">
      <div class="bg-white p-6 rounded-lg w-96">
      <h2 class="text-xl font-bold mb-4">¡Error!</h2>
      <p class="mb-4">{{errorMessage}}</p>
  
      <button (click)="closeModal()" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700">
          Cerrar
      </button>
      </div>
  </div>
  }